/* 重置默认样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* 全局样式 */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  /* 头部样式 */
  header {
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 20px 20px;
  }
  
  .hero h1 {
    font-size: 36px;
    margin-top: 60px;
  }
  
  .hero p {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  /* 导航栏样式 */
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 10px 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    height: 40px;
    margin-left: 20px;
  }
  
  .navigation {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }
  
  .navigation li {
    margin-right: 30px;
  }
  
  .navigation a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  /* 个人信息部分样式 */
  #about {
    padding: 80px 20px; /* 添加左右间距为 20px */
  }
  

  #about h2 {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .about-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .personal-info,
  .skills,
  .background {
    flex: 1;
    padding: 0 20px; /* 添加左右间距为 20px */
  }
  
  .skills ul {
    list-style: none;
  }
  
  .mypicture img {
    height: 240px;
    margin-left: 20px;
  }

  /* 研究部分样式 */
  #research {
    background-color: #f3f3f3;
    padding: 80px 0;
  }
  
  #research h2 {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .research-projects {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  @media (max-width: 600px) {
    .research-projects {
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
    }
  }

  .project {
    flex: 1;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .project h3 {
    margin-bottom: 10px;
  }
  
  .project p {
    margin-right: 50px;
    margin-left: 50px;
  }

  .project h5 {
    font-weight:lighter;
  }

  .project h6 {
    font-weight:lighter;
  }

  .project img {
    height: 300px;
    width: 450px;
    margin-left: 20px;
  }

  /* 作品集部分样式 */
  #portfolio {
    padding: 80px 0;
  }
  
  #portfolio h2 {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .portfolio-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  @media (max-width: 600px) {
    .portfolio-items {
      grid-template-columns: 1fr; /* 将列数改为1 */
    }
  
    .item {
      text-align: left; /* 左对齐 */
    }
  
    .item p {
      margin-right: 0;
      margin-left: 0;
    }
  
    .item img {
      width: 100%; /* 图片宽度占满父容器 */
      height: auto; /* 根据宽度自动调整高度 */
      margin-left: 0;
      margin-bottom: 10px;
    }
  }

  .item {
    text-align: center;
  }
  
  .item p {
    margin-right: 50px;
    margin-left: 50px;
  }

  .item h5 {
    font-weight:lighter;
  }

  .item h6 {
    font-weight:lighter;
  }

  .item p {
    margin-right: 50px;
    margin-left: 50px;
  }

  .item img {
    height: 300px;
    width: 450px;
    margin-left: 20px;
    margin-bottom: 10px;
  }
  

  
  /* 联系部分样式 */
/* 默认情况下，信息横向排列 */
#contact {
  padding: 40px 0;
  background-color: #f3f3f3;
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.social-media {
  text-align: center;
}

.social-media p {
  margin-right: 50px;
  margin-left: 50px;
}

.social-media img {
  height: 150px;
  width: 150px;
  margin-left: 20px;
  margin-bottom: 10px;
}

#contact h2 {
  text-align: center;
}


/* 在显示宽度小于或等于600像素时，改为纵向排列 */
@media (max-width: 600px) {
  #contact h2 {
    text-align: center;
  }

  .contact-form {
    grid-template-columns: 1fr; /* 将列数改为1 */
  }

  .social-media p {
    margin-right: 0;
    margin-bottom: 10px;
  }
  
  .social-media img {
    margin-left: auto;
    margin-right: auto;
  }
}


  /* 页脚*/
/* Apply black background color to the footer */
footer {
    background-color: black;
  }
  
  /* Center the text vertically and horizontally within the footer */
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; /* Adjust the height as needed */
  }
  
  /* Style the text within the footer */
  .footer-content p {
    color: white;
    font-size: 16px;
    text-align: center;
  }



  
